#img1{
    border: 5px solid rgb(255, 255, 255);
    width: 100%;
}
div{
    border: 30px solid black;
    padding-right: 10px;
    background-color: black;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    width: 50%;
    margin-left: 25%; 
    color: white;   
}
html{
    background-color: black;
}